<div class="ak-height-125 ak-height-lg-80"></div>
<div class="container">
    <div class="cta" data-aos="fade-right">
        <span class="border-pr"></span>
        <span class="border-wh"></span>
        <div class="cta-info">
            <h2 class="cta-title" data-aos="fade-left" data-aos-delay="100">EKSPERTLERİMİZ İLƏ ƏLAQƏ QURUN</h2>
            <p class="cta-desp">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the
                industry's stan. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem
                Ipsum
                has been the industry's stan.
            </p>
            <a href="~/ContactUs/Index" class="cta-btn">
                <img src="~/web-cras-three.vercel.app/assets/img/phone.svg" alt="...">
                <span class="ms-2">Əlaqə Üçün...</span>
            </a>
        </div>
    </div>
</div>

