@model PriceDescriptionDTOs
@{
    ViewData["Title"] = "UpdatePDescription";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Qiymet Acıqlamları</h1>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePDescription">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Misyamız</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="PricingId" class="control-label">Kateqoriya</label>
                <select asp-for="PricingId" class="form-control">
                    @if (ViewData["PriceDescription"] is IEnumerable<PricingDTOs> priceDescriptions)
                    {
                        foreach (var item in priceDescriptions)
                        {
                            <option value="@item.Id">@item.Title</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValue.Update_MESSAGE" class="btn btn-primary" />
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValue.RETURN_TO_BACK</a>
</div>

