<div class="ak-height-125 ak-height-lg-80"></div>
<div class="container">
    <div class="center-section-heading" data-aos="fade-down">
        <div class="ak-section-heading ak-style-1 ak-type-1">
            <div class="background-text" data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000">
                Proc/Feat
            </div>
            <h2 class="ak-section-title">Process / Feature</h2>
            <p class="ak-section-subtitle">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's stan. Lorem Ipsum is simply dummy text of the
                printing
                and typesetting industry.
            </p>
        </div>
    </div>
    <div class="ak-height-50 ak-height-lg-50"></div>
    <div class="row  row-cols-1 row-cols-xl-3 g-4 ">
        <div class="service-progress-card" data-aos-duration="300" data-aos="flip-left" data-aos-delay="0">
            <div class="progress-item">
                <h4 class="ak-stroke-number color-white">01</h4>
                <div class="ak-border-width"></div>
            </div>
            <div class="service-item">
                <div class="heartbeat-icon">
                    <a href="#">
                        <span class="ak-heartbeat-btn"><img src="assets/img/speedome.svg" alt="..."></span>
                    </a>
                </div>
                <div class="service-info">
                    <h4 class="title">PERFOMANCE CHECK</h4>
                    <p class="desp">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been
                        the
                        industry's stan.
                    </p>
                </div>
            </div>
        </div>
        <div class="service-progress-card" data-aos-duration="600" data-aos="flip-left" data-aos-delay="100">
            <div class="progress-item">
                <h4 class="ak-stroke-number color-white">02</h4>
                <div class="ak-border-width"></div>
            </div>
            <div class="service-item">
                <div class="heartbeat-icon">
                    <a href="#">
                        <span class="ak-heartbeat-btn"><img src="assets/img/car-repair.svg" alt="..."></span>
                    </a>
                </div>
                <div class="service-info">
                    <h4 class="title">AUTO REPAIR</h4>
                    <p class="desp">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been
                        the
                        industry's stan.
                    </p>
                </div>
            </div>
        </div>
        <div class="service-progress-card" data-aos-duration="1000" data-aos="flip-left" data-aos-delay="150">
            <div class="progress-item">
                <h4 class="ak-stroke-number color-white">03</h4>
                <div class="ak-border-width"></div>
            </div>
            <div class="service-item">
                <div class="heartbeat-icon">
                    <a href="#">
                        <span class="ak-heartbeat-btn"><img src="assets/img/car.svg" alt="..."></span>
                    </a>
                </div>
                <div class="service-info">
                    <h4 class="title">FLEET SERVICES</h4>
                    <p class="desp">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem
                        Ipsum has been
                        the
                        industry's stan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>