<div class="ak-primary-bg">
    <div class="ak-height-65 ak-height-lg-50"></div>
    <div class="container auto-counter-section">
        <div class="row align-items-center gap-lg-0">
            <div class="col-lg-4">
                <div class="ak-funfact ak-style1" data-aos="fade-up">
                    <div class="ak-funfact-number color-1">
                        <div>
                            <span id="count" class="ak-stroke-number color-white counter" data-number="10"></span>
                        </div>
                        <div><span class="ak-stroke-number color-white">+</span></div>
                    </div>
                    <div class="ak-funfact-text">
                        <p>XİDMƏT İLİ</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ak-funfact ak-style1" data-aos="fade-up" data-aos-delay="100">
                    <div class="ak-funfact-number">
                        <div>
                            <span id="count" class="ak-stroke-number color-white counter" data-number="256"></span>
                        </div>
                        <div><span class="ak-stroke-number color-white">+</span></div>
                    </div>

                    <div class="ak-funfact-text">
                        <p>XOŞBƏXT MÜŞTƏRİLƏR</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ak-funfact ak-style1" data-aos="fade-up" data-aos-delay="150">
                    <div class="ak-funfact-number">
                        <div>
                            <span id="count" class="ak-stroke-number color-white counter" data-number="112"></span>
                        </div>
                        <div><span class="ak-stroke-number color-white">+</span></div>
                    </div>
                    <div class="ak-funfact-text">
                        <p>MÜŞTƏRİ MƏMNUNİYYƏTİ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ak-height-65 ak-height-lg-50"></div>
</div>