<section class="container">
    <div class="choose-us-container-extents">
        <div class="choose-us-contain">
            <div class="choose-us-info" data-aos="fade-up">
                <div class="ak-section-heading ak-style-1">
                    <div class="background-text">GƏLƏCƏK</div>
                    <h2 class="ak-section-title">Nə Üçün Biz</h2>
                    <p class="ak-section-subtitle">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting
                        industry.
                        Lorem
                        Ipsum has been the industry's stan. Lorem Ipsum is simply dummy text of the printing and
                        typesetting
                        industry. Lorem Ipsum has been the industry's stan.
                    </p>
                </div>
                <div class="ak-height-60 ak-height-lg-30"></div>
                <div class="stroke-heading-text">
                    <h3 class="ak-stroke-text hover-color-changes">SERTİFİKATLI TEXNIKLAR</h3>
                    <h3 class="ak-stroke-text hover-color-changes">PEŞƏKAR TƏMİR XİDMƏTLƏRİ</h3>
                    <h3 class="ak-stroke-text hover-color-changes">900 Beş Ulduzlu Rəy</h3>
                    <h3 class="ak-stroke-text hover-color-changes">Təmirə Zəmanət</h3>
                </div>
                <div class="ak-height-60 ak-height-lg-30"></div>
                <a href="~/ContactUs/Index" class="common-btn">
                    Bizimlə Əlaqə
                </a>
            </div>
            <div class="choose-us-img" data-aos="fade-up" data-aos-delay="150">
                <img src="~/web-cras-three.vercel.app/assets/img/choose-us.png" alt="...">
            </div>
        </div>
    </div>
</section>