        <div class="ak-height-125 ak-height-lg-40"></div>
        <div class="container">
            <div class="common-page-title">
                <h3 class="page-title">About Us</h3>
                <div class="d-flex gap-2 align-items-center">
                    <p>Ana Səyfə /</p>
            <a href="~/About/Index">Haqqımızda</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End common page title  -->
    <!-- Start Company Tab-->
    <div class="container">
        <div class="company-tab">
            <ul class="tabs">
                <li class="active-tab">Misyamız</li>
                <li>Vizyonumuz</li>
                <li>Tariximiz</li>
            </ul>

            <div class="tabs-content">
                <div class="list">
                    <div class="ak-section-heading ak-style-1 ak-type-1">
                        <div class="background-text">Şirkət Haqqında</div>
                        <h3 class="desp">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's stan. Lorem Ipsum is simply dummy text of the
                            printing
                            and typesetting industry.
                        </h3>
                    </div>
                </div>
                <div class="list">
                    <div class="ak-section-heading ak-style-1 ak-type-1">
                        <div class="background-text">Şirkət Haqqında</div>
                        <h3 class="desp">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            been the industry's stanLorem Ipsum has.
                        </h3>
                    </div>
                </div>
                <div class="list">
                    <div class="ak-section-heading ak-style-1 ak-type-1">
                        <div class="background-text">Şirkət Haqqında</div>
                        <h3 class="desp">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has
                            been the industry's stan.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Company Tab-->
    <!-- Start Why Choose Us -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <section class="container">
        <div class="choose-us-container-extents">
            <div class="choose-us-contain">
                <div class="choose-us-info" data-aos="fade-up">
                    <div class="ak-section-heading ak-style-1">
                        <div class="background-text">GƏLƏCƏK</div>
                        <h2 class="ak-section-title">Nə Üçün Biz</h2>
                        <p class="ak-section-subtitle">
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting
                            industry.
                            Lorem
                            Ipsum has been the industry's stan. Lorem Ipsum is simply dummy text of the printing and
                            typesetting
                            industry. Lorem Ipsum has been the industry's stan.
                        </p>
                    </div>
                    <div class="ak-height-60 ak-height-lg-30"></div>
                    <div class="stroke-heading-text">
                        <h3 class="ak-stroke-text hover-color-changes">SERTİFİKATLI TEXNIKLAR</h3>
                        <h3 class="ak-stroke-text hover-color-changes">PEŞƏKAR TƏMİR XİDMƏTLƏRİ</h3>
                        <h3 class="ak-stroke-text hover-color-changes">900 Beş Ulduzlu Rəy</h3>
                        <h3 class="ak-stroke-text hover-color-changes">Təmirə Zəmanət</h3>
                    </div>
                    <div class="ak-height-60 ak-height-lg-30"></div>
                    <a href="~/ContactUs/Index" class="common-btn">
                        Bizimlə Əlaqə
                    </a>
                </div>
                <div class="choose-us-img" data-aos="fade-up" data-aos-delay="150">
                <img src="~/web-cras-three.vercel.app/assets/img/choose-us.png" alt="...">
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Choose Us -->
    <!-- Start Fun Fact Counter -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="ak-primary-bg">
        <div class="ak-height-65 ak-height-lg-50"></div>
        <div class="container auto-counter-section">
            <div class="row align-items-center gap-lg-0">
                <div class="col-lg-4">
                    <div class="ak-funfact ak-style1" data-aos="fade-up">
                        <div class="ak-funfact-number color-1">
                            <div>
                                <span id="count" class="ak-stroke-number color-white counter" data-number="10"></span>
                            </div>
                            <div><span class="ak-stroke-number color-white">+</span></div>
                        </div>
                        <div class="ak-funfact-text">
                            <p>XİDMƏT İLİ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ak-funfact ak-style1" data-aos="fade-up" data-aos-delay="100">
                        <div class="ak-funfact-number">
                            <div>
                                <span id="count" class="ak-stroke-number color-white counter" data-number="256"></span>
                            </div>
                            <div><span class="ak-stroke-number color-white">+</span></div>
                        </div>

                        <div class="ak-funfact-text">
                            <p>XOŞBƏXT MÜŞTƏRİLƏR</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ak-funfact ak-style1" data-aos="fade-up" data-aos-delay="150">
                        <div class="ak-funfact-number">
                            <div>
                                <span id="count" class="ak-stroke-number color-white counter" data-number="112"></span>
                            </div>
                            <div><span class="ak-stroke-number color-white">+</span></div>
                        </div>
                        <div class="ak-funfact-text">
                            <p>MÜŞTƏRİ MƏMNUNİYYƏTİ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ak-height-65 ak-height-lg-50"></div>
    </div>
    <!-- End Fun Fact Counter -->
    <!-- Start Testimonial  -->
    @await Component.InvokeAsync("Testimonial")
    <!-- End Trusted Client -->
    <!-- Start Cta -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
       <div class="cta" data-aos="fade-right">
          <span class="border-pr"></span>
          <span class="border-wh"></span>
          <div class="cta-info">
              <h2 class="cta-title" data-aos="fade-left" data-aos-delay="100">EKSPERTLERİMİZ İLƏ ƏLAQƏ QURUN</h2>
              <p class="cta-desp">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum
                has been the
                industry's stan. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem
                Ipsum
                has been the industry's stan.
              </p>
                <a href="~/ContactUs/Index" class="cta-btn">
                <img src="~/web-cras-three.vercel.app/assets/img/phone.svg" alt="...">
                <span class="ms-2">Əlaqə Üçün...</span>
                 </a>
              </div>
           </div>
     </div>

