
@model List<TeamActiveDTOs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="common-page-title">
            <h3 class="page-title">Komandamız</h3>
            <div class="d-flex gap-2 align-items-center">
                <p>Ana Səyfə /</p>
                <a href="~/Team/Index">Komandamız</a>
            </div>
        </div>
        <div class="primary-color-border"></div>
    </div>
    <div class="ak-height-75 ak-height-lg-75"></div>
    <div class="container">
        <div class="all-members">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 g-4">
                @foreach(var item in Model)
                {
                <div class="col">
                    <div class="member-card" data-aos="fade-up" data-aos-delay="0">
                        <span href="team-single.html">
                        <img src="~/web-cras-three.vercel.app/assets/img/member_1.jpg" class="member-img ak-bg" alt="..." />
                        </span>
                        <div class="member-info">
                            <div class="member-title">
                                <span class="title">
                                    @item.Name @item.Surname
                                </span>
                                <p class="desp">@item.Position</p>
                            </div>
                            <div class="member-info-social">
                                <a href="@item.LinkedInUrl" class="icon">
                                <img src="~/web-cras-three.vercel.app/assets/img/linkedinicon.svg"
                                         alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                    }
            </div>
        </div>
    </div>

