@model DTOLayer.OrderDTOs


@{
    ViewData["Title"] = "UpdateOrder";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Soyadı</label>
                <input asp-for="Surname" class="form-control" id="answer" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" id="answer" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label">Qeydiyyat Nişanı</label>
                <input asp-for="LicensePlate" class="form-control" id="answer" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricingId" class="control-label">Paketi İdsi</label>
                <input asp-for="PricingId" class="form-control" readonly />
                <span asp-validation-for="PricingId" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <input type="submit" value="@DefaultConstantValue.Update_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValue.RETURN_TO_BACK</a>
</div>

