@model List<DTOLayer.AboutDTOs>


<h1>About</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Misson</th>
            <th>Vision</th>
            <th>History</th>
            <th>Aktiv</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Misson</td>
                <td>@item.Vision</td>
                <td>@item.History</td>
                <td>
                    @if (item.Delete == 0)
                    {
                        <span class="badge badge-success">Aktiv</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Passiv</span>
                    }
                </td>
                <td>
                    <a href="~/Admin/About/UpdateAbout/@item.Id" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    <a href="~/Admin/About/DeleteAbout/@item.Id" class="btn btn-warning"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



