@model AboutDTOs
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Haqqımızda Yeniləmək</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAbout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Misson" class="control-label">Misyamız</label>
                <textarea asp-for="Misson" class="form-control"></textarea>
                <span asp-validation-for="Misson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vision" class="control-label">Vizyonumuz</label>
                <textarea asp-for="Vision" class="form-control"></textarea>
                <span asp-validation-for="Vision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="History" class="control-label">Tariximiz</label>
                <textarea asp-for="History" class="form-control"></textarea>
                <span asp-validation-for="History" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@DefaultConstantValue.Update_MESSAGE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@DefaultConstantValue.RETURN_TO_BACK</a>
</div>

