
@{
    ViewData["Title"] = "Index";
}

    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
        <div class="common-page-title">
            <h3 class="page-title">Blog Page</h3>
            <div class="d-flex gap-2 align-items-center">
            <p>Ana səhifə /</p>
            <a href="~/Blog/Index">Blog</a>
            </div>
        </div>
        <div class="primary-color-border"></div>
    </div>
    <!-- End common page title  -->


    <div class="ak-height-75 ak-height-lg-80"></div>
    <section class="container">
        <div class="blog-feature">
            <div class="feature-content" data-aos="fade-right" data-aos-delay="600">
                <p class="data">17.10.2023</p>
                <h4 class="title">Driving with Confidence: The Crucial Role of Routine Car Maintenance</h4>
                <p class="desp">
                    Your car is more than just a means of getting from point A to point B; it's a
                    reliable
                    companion on your daily journey. Just like any dependable friend, your car requires regular care
                    to
                    ensure it remains in...
                </p>
            <a href="~/Blog/BlogDetail" class="more-btn">READ MORE</a>
            </div>
            <div class="feature-img" data-aos="fade-left" data-aos-delay="600">
            <img src="~/web-cras-three.vercel.app/assets/img/blog-show.jpg" class="ak-bg" alt="...">
            </div>
        </div>
    </section>

    <!-- Start Blog -->
    <div class="ak-height-50 ak-height-lg-50"></div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-5 g-lg-4 pagination-wrapper">
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_4.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">17.10.2023</p>
                        <a href="#" class="blog-title">The Importance of Regular Car Maintenance</a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="#" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_5.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">05.11.2023</p>
                        <a href="#" class="blog-title">
                            The Roadmap to Reliability: Essential Car Care
                            Tips
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="#" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_6.jpg" alt="...">
                        </div>
                    </a>

                    <div class="blog-body-info">
                        <p class="blog-text">12.11.2023</p>
                        <a href="blog-single.html" class="blog-title">
                            From Garage to Glory: Transform Your Vehicle's
                            Health
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_7.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">21.11.2023</p>
                        <a href="blog-single.html" class="blog-title">
                            Decoding the 'Check Engine' Light and Engine
                            Diagnostics
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_8.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">15.11.2023</p>
                        <a href="blog-single.html" class="blog-title">
                            Unlocking the Secrets of Routine Car
                            Maintenance
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_9.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">09.08.2023</p>
                        <a href="blog-single.html" class="blog-title">
                            The Sound of Safety: Identifying and Resolving
                            Common Car Noises
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_7.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">21.11.2023</p>
                        <a href="blog-single.html" class="blog-title">
                            Decoding the 'Check Engine' Light and Engine
                            Diagnostics
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_8.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">15.11.2023</p>
                        <a href="blog-single.html" class="blog-title">
                            Unlocking the Secrets of Routine Car
                            Maintenance
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_9.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">09.08.2023</p>
                        <a href="blog-single.html" class="blog-title">
                            The Sound of Safety: Identifying and Resolving
                            Common Car Noises
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_4.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">17.10.2023</p>
                        <a href="blog-single.html" class="blog-title">The Importance of Regular Car Maintenance</a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_5.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">05.11.2023</p>
                        <a href="blog-single.html" class="blog-title">
                            The Roadmap to Reliability: Essential Car Care
                            Tips
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                        <img src="~/web-cras-three.vercel.app/assets/img/blog_6.jpg" alt="...">
                        </div>
                    </a>

                    <div class="blog-body-info">
                        <p class="blog-text">12.11.2023</p>
                        <a href="blog-single.html" class="blog-title">
                            From Garage to Glory: Transform Your Vehicle's
                            Health
                        </a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="blog-single.html" class="more-btn">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ak-height-100 ak-height-lg-60"></div>
        <div id="pagination-container" class="pagination-style"></div>
    </div>
    <!-- End Blog -->

