@model List<BlogDTOs>


@{
    ViewData["Title"] = "Index";
}

<div class="ak-height-125 ak-height-lg-80"></div>
<div class="container">
    <div class="common-page-title">
        <h3 class="page-title">Blog Page</h3>
        <div class="d-flex gap-2 align-items-center">
            <p>Ana səhifə /</p>
            <a href="~/Blog/Index">Blog</a>
        </div>
    </div>
    <div class="primary-color-border"></div>
</div>



@await Component.InvokeAsync("LastBlog")


<div class="ak-height-50 ak-height-lg-50"></div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-5 g-lg-4 pagination-wrapper">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="blog-card" data-aos="fade-up">
                    <a href="blog-single.html">
                        <div class="blog-header-info">
                            <img src="~/web-cras-three.vercel.app/assets/img/blog_4.jpg" alt="...">
                        </div>
                    </a>
                    <div class="blog-body-info">
                        <p class="blog-text">@item.CreateTime.ToString("dd/MM/yyyy")</p>
                        <a href="~/Blog/BlogDetail/@item.Id" class="blog-title">@item.Title</a>
                    </div>
                    <div class="blog-footer-info">
                        <a href="~/Blog/BlogDetail/@item.Id" class="more-btn">Davamını Oxu</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
