@model List<BlogDTOs>


@{
    Layout = null;
}

@foreach(var item in Model)
{

<div class="card shadow mb-4">
    <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@item.Title</h6>  <p class="data">@item.CreateTime.ToString("dd.MM.yyyy")</p>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                 src="@item.ImageUrl" alt="...">
        </div>
        <p>
           @item.Text
        </p>
            <a target="_blank" rel="nofollow" href="~/Blog/BlogDetail/@item.Id">
             Bloga Get
        </a>
    </div>
</div>
}
