@model List<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Role</h1>
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive overflow-hidden">


                <p>
                    <a href="~/Admin/AdminRole/AddRole" class="btn btn-primary">@DefaultConstantValue.ADD_MESSAGE</a>
                </p>

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Istifadeci UserNamei</th>
                            <th>Role Ver</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.UserName</td>
                            <td>
                                <a asp-action="AssignRole" asp-route-id=@item.Id class="btn btn-success"><i class="fas fa-user"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


